@import "../../styles/variables";
@import "../../styles/size";

.button__logout {
  background-color: transparent;
  border: transparent;

  @include size(mobile) {
    width: 16px;
    height: 16px;

    &::after {
      position: absolute;
      content: "";
      right: 20px;
      top: 20px;
      width: 16px;
      height: 16px;
      background-image: url("../../images/icons/logout.svg");
    }
  }

  @include size(tablet) {
    width: 66px;
    height: 14px;
    text-align: center;
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
    font-family: inherit;
    font-size: 12px;
    line-height: 14px;
    font-style: normal;
    font-weight: 400;
    color: $gray-btn-logout;

    &::after {
      background-image: none;
    }
  }
}
.button__text {
  @include size(mobile) {
    display: none;
  }

  @include size(tablet) {
    display: inline-block;
  }
}
