@import "../../styles/variables";
@import "./Button.module.scss";

.button__login {
  @extend .button;

  background-color: $orange;
  color: $white;
  border: 0;
  box-shadow: 1px 3px 5px rgba(255, 107, 8, 0.35);
  transition: transform 0.2s;

  &:hover,
  &:focus {
    background-color: $white;
    color: $orange;
    border: 2px solid $orange;
    transform: scale(1.1);
  }
}
