@import "../../styles/variables";
@import "./Button.module.scss";

.button__signup {
  @extend .button;

  background-color: $gray-btn;
  color: $main-text-cl;
  border: 0;
  box-shadow: 1px 3px 5px rgba(82, 85, 95, 0.15);
  transition: transform 0.2s;

  &:hover,
  &:focus {
    background-color: $white;
    color: $orange;
    border: 2px solid $orange;
    box-shadow: 1px 3px 5px rgba(255, 107, 8, 0.35);
    transform: scale(1.1);
  }
}
