@import '../../styles/variables';
@import '../../styles/size';

.form {
  display: flex;
  flex-direction: column;

  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: $white;
  border-radius: 30px;
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);

  @include size(mobile) {
    width: 300px;
  }

  @include size(tablet) {
    margin-top: 240px;
    width: 436px;
  }

  @include size(desktop) {
    margin-top: 117px;
    margin-left: auto;
    margin-right: 0;
  }
}

.title {
  margin-left: 29px;
  margin-top: 50px;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 14px;
  letter-spacing: 0.04em;
  font-weight: 700;
  color: $orange;

  @include size(tablet) {
    margin-left: 86px;
    font-size: 28px;
  }
}

.text {
  margin-top: 40px;
  margin-left: 29px;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.04em;
  font-weight: 500;
  color: $main-text-cl;

  @include size(tablet) {
    margin-left: 86px;
    margin-right: 85px;
    font-size: 12px;
    line-height: 14px;
  }
}

.textGoogle {
  @extend .text;
  margin-top: 30px;

  @include size(tablet) {
    text-align: left;
  }
}

.label {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 25px;
  margin-left: 29px;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.04em;
  font-weight: 500;
  color: $black;

  @include size(tablet) {
    margin-left: 86px;
    font-size: 12px;
    line-height: 14px;
  }
}

.input {
  width: 213px;
  height: 52px;
  margin-top: 12px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $gray-input-bg;
  border: 0;
  border-radius: 30px;

  @include size(tablet) {
    width: 225px;
  }

  @include size(desktop) {
    width: 265px;
  }

  &::placeholder {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.04em;
    font-weight: 500;
    color: $gray-placeholder;
  }

  &:hover,
  &:focus {
    border-color: $orange;
    box-shadow: 1px 3px 5px rgba(255, 107, 8, 0.35);
  }
}

a.button__Google {
  // -webkit-appearence: button;
  // -moz-apperance: button;
  appearance: button;

  width: 56px;
  height: 20px;
  margin: auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $black;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $orange;
  }

  @include size(tablet) {
    width: 56px;
  }

  @include size(desktop) {
    width: 56px;
  }
}
.formRegistGoogle {
  width: 18px;
  height: 18px;
  padding: auto;
  margin-left: auto;
  margin-right: 10px;
}

.buttonGoogle {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 3px 5px rgba(82, 85, 95, 0.15);
  transition: transform 0.2s;

  &:hover,
  &:focus {
    background-color: $white;
    color: $orange;
    border: 2px solid $orange;
    box-shadow: 1px 3px 5px rgba(255, 107, 8, 0.35);
    transform: scale(1.1);
  }
}

.buttonGoogleStyle {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 122px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  background-color: $gray-btn;
  color: $main-text-cl;
  border: 0;
  border-radius: 30px;
  box-shadow: 1px 3px 5px rgba(82, 85, 95, 0.15);
  transition: transform 0.2s;

  &:hover,
  &:focus {
    background-color: $white;
    color: $orange;
    border: 2px solid $orange;
    box-shadow: 1px 3px 5px rgba(255, 107, 8, 0.35);
    transform: scale(1.1);
  }
}

.button__container {
  display: flex;
  justify-content: space-between;
  margin-left: 17px;
  margin-right: 18px;
  margin-top: 40px;
  margin-bottom: 53px;
  text-align: center;

  @include size(tablet) {
    margin-left: 86px;
    margin-right: 85px;
  }
}

.button__container__signup {
  margin-top: 40px;
  margin-bottom: 53px;
  text-align: center;
}

.span_required {
  display: inline-block;
  margin-top: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  line-height: 0.83;
  color: $input-required;
}

.span_star {
  position: absolute;
  left: -7px;
  color: $input-required;
  font-size: 10px;
  line-height: 0.85;

  @include size(tablet) {
    font-size: 15px;
  }
}
