@import "../../styles/size";
@import "../../styles/variables";

.react-tabs {
  -webkit-tap-highlight-color: transparent;

  &__tab-list {
    display: flex;
    margin: 0;
    padding: 0;

    @include size(mobile-only) {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &__tab {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: 0px;
    position: relative;
    list-style: none;
    padding: 15px 45px 15px 45px;
    cursor: pointer;
    background: $tab-main;
    border: none;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    &--selected {
      background: $tab-selected;
      border-color: #aaa;
      color: $orange;

      @include size(mobile-only) {
        background: $orange;
        border-color: #aaa;
        color: $tab-selected;
      }
    }

    &--disabled {
      color: GrayText;
      cursor: default;
    }

    &:focus {
      box-shadow: 0 0 5px $gray-placeholder;
      border-color: $gray-placeholder;
      outline: none;

      &:after {
        content: "";
        position: absolute;
        height: 5px;
        left: -4px;
        right: -4px;
        bottom: -5px;
        background: $white;
      }
    }

    @include size(mobile-only) {
      width: 100%;
      height: 53px;
    }

    @include size(tablet) {
      border-radius: 20px 20px 0px 0px;
    }
  }

  &__tab-panel {
    display: none;

    &--selected {
      display: block;
      padding: 20px;
      background: $white;

      @include size(mobile-only) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    @include size(mobile-only) {
      position: absolute;
      bottom: 54px;
      left: 0;
      width: 100%;
      overflow: hidden;
      padding: 0;
      background: inherit;
      text-align: center;
    }

    @include size(tablet) {
      width: 100%;
      height: 626px;
      box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
      border-radius: 0px 30px 30px 30px;
    }

    @include size(desktop) {
      width: 1060px;
      height: 579px;
    }
  }
}

.transactions {
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    width: 1060px;
    margin: 0px auto;
  }
}

::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: $dropdown-list;
}

.Add_button {
  border-radius: 14px;
  border: none;
  background: $orange;
  color: $tab-main;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.02em;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 10px;
}
