@import "../../styles/variables";

.container {
  position: absolute;
  top: 220px;
  left: 19px;
  background-image: url("../../images/notify-mobile.svg");
  width: 282px;
  height: 163px;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  @media screen and (min-width: 768px) {
    top: 140px;
    left: 186px;

    background-image: url("../../images/notify-desk.svg");
    width: 296px;
    height: 163px;
  }
  @media screen and (min-width: 1280px) {
    top: 148px;
    left: 546px;
    padding: 30px;
  }
}
.text_box {
  position: absolute;
  top: 10px;
  left: 0;
  padding: 30px 25px;
  @media screen and (min-width: 768px) {
    top: 16px;
    left: 0;
    padding: 30px;
  }
}
.first_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $white;
  margin-bottom: 20px;
}
.second_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $white;
}
