@import "../../styles/variables";
@import "./ContainerCommon.module.scss";

.container {
  @extend .container;
}

.gray {
  @extend .gray;

  @include size(mobile) {
    background-image: url("../../images/bg-m.png"),
      url("../../images/title_m.png");
    background-repeat: no-repeat;
    background-position: 271px 104px, 49px 86px;
  }

  @include size(tablet) {
    height: 582px;
    background-image: url("../../images/title_t.png"),
      url("../../images/bg-d-t.png");
    background-repeat: no-repeat;
    background-position: 171px 90px, 10px 28px;
  }

  @include size(desktop) {
    background-image: url("../../images/bg-d-t.png"),
      url("../../images/title_d.png");
    background-repeat: no-repeat;
    background-position: 10px 28px, 230px 308px;
  }
}

.white {
  @extend .white;

  @include size(mobile) {
    background-image: url("../../images/icons/kapusta-single.svg");
    background-repeat: no-repeat;
    background-position: left 35px bottom 0;
  }

  @include size(tablet) {
    background-image: url("../../images/kapusta-down.png");
    background-repeat: no-repeat;
    background-position: 103px 770px;
  }

  @include size(desktop) {
    background-image: url("../../images/kapusta-down.png");
    background-repeat: no-repeat;
    background-position: 230px 602px;
  }
}
