@import "../../styles/variables";
@import "../../styles/size";

.container {
  width: 282px;
  height: 173px;
  margin: 15px 19px;
  margin-bottom: 30px;

  @include size(tablet) {
    display: flex;
    align-items: center;
    width: 664px;
    height: 44px;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 54px;
  }

  @include size(desktop) {
    width: 1064px;
    margin-left: 110px;
    margin-right: 110px;
  }
}
