$white: #ffffff;
$black: #000000;
$main-text-cl: rgba(82, 85, 95, 0.7);
$gray-placeholder: #a6abb9;
$gray-input-bg: #f6f7fb;
$gray-btn: #f5f6fb;
$orange: #ff751d;
$bg-gray: #f5f6fb;
$input-required: #eb5757;
