@import "../../styles/variables";
@import "../../styles/size";

.optsStylesSuccess {
  border-radius: 50px;

  font-family: "Roboto";
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  text-align: center;

  background-color: $white;
  color: $orange;
  box-shadow: 0px 2px 23px 13px $orange;
}

.optsStylesIhfo {
  border-radius: 50px;

  font-family: "Roboto";
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  text-align: center;

  background-color: $bg-gray;
  color: $orange;
  box-shadow: 0px 2px 23px 13px $orange;

  @include size(desktop) {
    font-size: 18px;
  }
}
