@import "../../styles/variables";
@import "../../styles/size";

.GoBackButton {
  width: 24px;
  height: 24px;

  &:hover {
    transform: scale(0.9);
  }

  @include size(tablet) {
    width: 174px;
    margin: 10px 0;
  }
}

.link {
  text-decoration: none;
  position: relative;

  @include size(tablet) {
    &::after {
      content: "Вернуться на главную";
      font-size: 12px;
      color: $main-text-cl;
      position: absolute;
      top: -2px;
      left: 40px;
      width: 150px;
    }
  }
}
