@import "../../styles/variables";

.GoBackButton{ 
    width: 24px;
    height: 24px;
   
    &:hover{
        transform: scale(0.9);
    }

    @media screen and (min-width: 768px) {
        width: 174px;        
        margin: 10px 0;
    }
}

.link{
    text-decoration: none;
    position: relative;
    
    @media screen and (min-width: 768px) {

        &::after{
            content: 'Вернуться на главную';
            font-size: 12px;
            color: $main-text-cl;
            position: absolute;
            top: -2px;
            left: 40px;
            width: 150px;
        }
    }
}
