@import "../../styles/size";
@import "../../styles/variables";

.main {
  display: flex;
  justify-content: space-between;

  @include size(tablet) {
    flex-direction: column;
  }

  @include size(desktop) {
    flex-direction: row;
  }
}

.table {
  border-radius: 30px 30px 0px 0px;
  background: $bg-gray;

  @include size(tablet) {
    margin-bottom: 55px;
  }

  @include size(desktop) {
    margin-bottom: 0;
  }
}

.table_head {
  display: none;
  align-items: center;
  height: 38px;
  font-size: 13px;
  font-weight: normal;
  color: $gray-btn-logout;

  & :nth-child(1) {
    padding-left: 25px;
  }

  @include size(tablet) {
    display: grid;
    grid-template-columns: 120px 196px 152px 100px 50px;
  }

  @include size(desktop) {
    grid-template-columns: 170px 248px 164px 116px 50px;
  }
}

.table_title {
  font-size: 11px;
  font-weight: 700;
  color: $black;
  padding: 0 8px;
  text-transform: uppercase;
}

.table_list {
  margin: 0;
  padding: 0;
  overflow: scroll;
  background-size: 2px 74px;
  background-image: linear-gradient(
    180deg,
    #e1e1e1 1.61%,
    #ffffff 0,
    #ffffff 50%,
    #e1e1e1 0,
    #e1e1e1 51.61%,
    #ffffff 0,
    #ffffff
  );

  @include size(tablet) {
    height: 380px;
    border-left: 1px solid $table-list;
    border-right: 1px solid $table-list;
  }

  @include size(desktop) {
    height: 342px;
  }
}

.table_item {
  display: grid;
  align-items: center;
  grid-template-columns: 85px 100px 100px 30px;
  align-items: center;
  background: $white;
  color: $gray-btn-logout;
  border-bottom: 1px solid $bg-gray;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.04em;
  height: 50px;

  & span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  & :nth-child(1) {
    padding: 0 10px;
  }

  &_btn {
    width: 32px;
    height: 32px;
    border-radius: 20px;
    border: none;
    background-color: inherit;
    background-image: url("../../images/icons/delete.svg");
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-color: $bg-gray;
    }
  }

  @include size(mobile-only) {
    & :nth-child(1) {
      grid-row: 2 / 4;
    }

    & :nth-child(2) {
      font-size: 14px;
      font-weight: 700;
    }

    & :nth-child(3) {
      grid-row: 2 / 4;
    }

    & :nth-child(4) {
      grid-row: 1 / 4;
      font-size: 12px;
      font-weight: 700;
    }

    & :nth-child(5) {
      grid-row: 1 / 4;
    }
  }

  @include size(tablet) {
    display: grid;
    align-items: center;
    height: 38px;
    grid-template-columns: 120px 196px 140px 100px 50px;
    font-size: 12px;
    line-height: 14px;
    padding: 0 8px;
    border-bottom: 2px solid $table-list;

    & span {
      padding: 0px 13px 0px 0px;
    }
  }

  @include size(desktop) {
    grid-template-columns: 170px 248px 164px 116px 50px;

    & span {
      padding: 0px 25px 0px 0px;
    }
  }
}

.table_income {
  font-weight: 700;
  color: $incomes-color;
}
